.demosContainer {
  composes: topContainer from "../../Layout.module.css";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.youtube {
  width: 50vw;
  aspect-ratio: 16/9;
}

.demoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-align: center;
}

@media (max-width: 768px) {
  .youtube {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .youtube {
    width: 70vw;
  }
}
