.buttonContainer {
  /* background-color: var(--green); */
  /* color: var(--off-black); */
  /* font-size: 24px; */
  font-family: "body-text", Inter, normal;
  font-weight: bold;
  padding: 0.75em 1.5em;
  border-radius: 12px;
  /* border: none; */
  width: fit-content;
  cursor: pointer;

  border: 1px solid var(--green);
  background-color: var(--off-black);
  color: var(--green);
}

.buttonContainer:hover {
  /* background-color: var(--off-black);
  color: var(--green); */
  background-color: var(--green);
  color: var(--off-black);
  /* background-color: color-mix(in srgb, var(--green), var(--off-black) 25%); */
  transition: 0.5s ease;
  transition-property: color, border, background-color, opacity;

  /* border: 1px solid var(--green); */
}
