.navBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--off-black);
}

/* .navBarContainer h4,
.navBarContainer h6 {
  font-family: "header-text", Inter, normal;
} */

.navBarTrakLogo {
  width: 3vw;
  /* max-height: 80px; */
}

.navBarLeft {
  display: flex;
  height: 100%;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.navBarLeft:hover {
  color: var(--green);
  /* transform: scale(1.1); */
  transition: 0.3s;
}

.navBarLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

.navBarLogo h4,
.navBarLogo h6 {
  line-height: 100%;
}

.navBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.desktopNavBarLinks {
  composes: navBarLinks;
}

.navBarLink {
  padding-right: 3vw;
}
.navBarLink:hover {
  /* transform: scale(1.2); */
  color: var(--green);
  transition: 0.3s;
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50vw;
  z-index: 2;
  background-color: var(--off-black);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5vw;
  padding-top: var(--nav-height);
  gap: 5vw;
  animation: slideIn;
  animation-duration: 0.3s;
}

.hamburger {
  color: var(--off-white);
  padding: 1vw;
  font-size: 10vw;
  display: none;
}

.hamburger:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .navBarContainer {
    padding: 2vw 5vw;
  }

  .hamburger {
    display: block;
  }

  .desktopNavBarLinks {
    display: none;
  }

  .navBarLink {
    padding-right: 0px;
    font-size: 4vw;
  }

  .navBarLogo {
    display: none;
  }

  .navBarLeft:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .navBarTrakLogo {
    width: 5vw;
  }
}

@media (hover: none) {
  .navBarContainer {
    position: fixed;
    top: auto;
    bottom: 0;
  }

  .sideBar {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5vw;
    padding-bottom: var(--nav-height);
    /* width: 100vw; */
  }

  .navBarLink {
    font-size: 5vw;
  }
}
