.topContainer {
  width: 100%;
  display: flex;
  padding-top: 5vw;
  padding-bottom: 5vw;
  scroll-margin-top: var(--nav-height);
}

@media (max-width: 600px) {
  .topContainer {
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
}

@media (hover: none) {
  .topContainer {
    scroll-margin-top: 0;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}
